  <div class="container">
    <div>
        <h3 class="text-center m-3">Kayıt Ol</h3>
      <form class="form" [formGroup]="registerForm" id="registerForm" (ngSubmit)="onSubmit()" class=" text-center">
          <div class="row mt-1">
              <div class="form-group col-6">
                  <mat-form-field class="full-width w-100">
                      <input type="text" maxlength=20 matInput formControlName="firstName" placeholder="İsim" [ngClass]="{'is-invalid': registerForm.get('firstName').errors && registerForm.get('firstName').touched}">
                      <mat-error *ngIf="registerForm.get('firstName').hasError('required') && registerForm.get('firstName').touched ">
                          Lütfen isminizi giriniz
                        </mat-error>
                        <mat-error *ngIf="registerForm.get('firstName').errors?.pattern && registerForm.get('firstName').touched ">
                          Lütfen geçerli isim giriniz
                        </mat-error>
                    </mat-form-field>
              </div>
              <div class="form-group col-6">
                <mat-form-field class="full-width w-100">
                    <input type="text" maxlength=20 matInput formControlName="lastName" placeholder="Soyisim" [ngClass]="{'is-invalid': registerForm.get('lastName').errors && registerForm.get('lastName').touched}">
                    <mat-error *ngIf="registerForm.get('lastName').hasError('required') && registerForm.get('lastName').touched ">
                        Lütfen soyisminizi giriniz
                      </mat-error>
                      <mat-error *ngIf="registerForm.get('lastName').errors?.pattern && registerForm.get('lastName').touched ">
                        Lütfen geçerli soyisim giriniz
                      </mat-error>
                  </mat-form-field>
            </div>
            </div>
        <div class="row">
            <div class="form-group col-6">
                <mat-form-field class="full-width w-100">
                    <input type="text" numbersOnly maxlength=11  matInput formControlName="TCKNo" placeholder="TC Kimlik Numarası" [ngClass]="{'is-invalid': registerForm.get('TCKNo').errors && registerForm.get('TCKNo').touched}">
                    <mat-error *ngIf="registerForm.get('TCKNo').hasError('required') && registerForm.get('TCKNo').touched ">
                        Lütfen kimlik numaranızı giriniz
                      </mat-error>
                      <mat-error *ngIf="(registerForm.get('TCKNo').hasError('minlength') || registerForm.get('TCKNo').hasError('maxlength')) || registerForm.get('TCKNo').errors?.pattern">
                          Lütfen geçerli bir kimlik numaranızı giriniz
                        </mat-error>
                  </mat-form-field>
            </div>
            <div class="form-group col-6">
              <mat-form-field class="full-width w-100" (click)="picker.open()">
                  <input [readonly]="true" [max]="maxDate" formControlName="DateofBirth" matInput [matDatepicker]="picker" placeholder="Doğum Tarihinizi Seçiniz" [ngClass]="{'is-invalid': registerForm.get('DateofBirth').errors && registerForm.get('DateofBirth').touched}">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker touchUi disabled="false" #picker></mat-datepicker>
                  <mat-error *ngIf="registerForm.get('DateofBirth').hasError('required') && registerForm.get('DateofBirth').touched ">
                      Lütfen doğum tarihinizi seçiniz
                    </mat-error>
                </mat-form-field>
          </div>
          </div>
              
            <div class="row">
                <div class="form-group col-6">
                    <mat-form-field class="full-width w-100">
                        <input type="text" numbersOnly maxlength=11 matInput formControlName="PhoneNumber" placeholder="Tel. No" [ngClass]="{'is-invalid': registerForm.get('PhoneNumber').errors && registerForm.get('PhoneNumber').touched}">
                        <mat-error *ngIf="registerForm.get('PhoneNumber').hasError('required') && registerForm.get('PhoneNumber').touched ">
                            Lütfen telefon numaranızı giriniz
                          </mat-error>
                          <mat-error *ngIf="(registerForm.get('PhoneNumber').hasError('minlength') || registerForm.get('PhoneNumber').hasError('maxlength') || registerForm.get('PhoneNumber').errors?.pattern)">
                              Lütfen geçerli bir telefon numaranızı giriniz
                            </mat-error>
                      </mat-form-field>
                </div>
                <div class="form-group col-6">
                  <mat-form-field class="full-width  w-100">
                      <input type="email" maxlength=30  matInput formControlName="Email" placeholder="Email" [ngClass]="{'is-invalid': registerForm.get('Email').errors && registerForm.get('Email').touched}">
                      <mat-error *ngIf="registerForm.get('Email').hasError('required') && registerForm.get('Email').touched ">
                          Lütfen emailinizi giriniz
                        </mat-error>
                        <mat-error *ngIf="registerForm.get('Email').errors?.pattern && registerForm.get('Email').touched ">
                            Lütfen geçerli bir email giriniz
                          </mat-error>
                    </mat-form-field>
              </div>
              </div>     
        <div class="row">
          <div class="form-group col-12 text-center">
              <mat-form-field class="full-width w-50 text-center">
                  <input type="password" maxlength=15 matInput formControlName="Password" placeholder="Şifre"  [ngClass]="{'is-invalid': registerForm.get('Password').errors && registerForm.get('Password').touched}">
                  <mat-error *ngIf="registerForm.get('Password').hasError('required') && registerForm.get('Password').touched ">
                      Lütfen şifrenizi giriniz
                    </mat-error>
                    <mat-error *ngIf="registerForm.get('Password').hasError('minlength')">
                        Şifreniz minumum 6 karaktere sahip olmalıdır
                      </mat-error>
                      <mat-error *ngIf="registerForm.get('Password').hasError('maxlength')">
                          Şifreniz maximumum 15 karaktere sahip olmalıdır
                        </mat-error>
                </mat-form-field>
          </div>
        </div>
      </form>
            <button [disabled]="!registerForm.valid" type="submit" mat-stroked-button color="primary" class="py-1" form="registerForm">Kayıt Ol</button>
    </div>
  </div>