<div class="container">
    <div class="d-flex justify-content-between">
      <h4>Para Yatır</h4>
    </div>
    <hr>
    <form [formGroup]="depositForm" (ngSubmit)="onSubmit()">
      <div class="row">
      <div class="form-group col-12">
          <mat-form-field class="w-100">
            <input placeholder="Ücret" type="number" matInput formControlName="price">
          </mat-form-field>
          </div>
      </div>
      <button mat-raised-button type="submit" [disabled]="depositForm.invalid">Para Yatır</button>
    </form>
  </div>