
@import '~@angular/material/theming';
@mixin global-theme($theme) {
    $primary: map-get($theme, primary );
    $accent: map-get($theme, accent );
    $warn: map-get($theme, warn );
    $foreground: map-get($theme, foreground );
    $background: map-get($theme, background );
    .header {
        background: mat-color($primary);
    }
}
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$RentApp-SPA-primary: mat-palette($mat-indigo);
$RentApp-SPA-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$RentApp-SPA-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$RentApp-SPA-theme: mat-light-theme($RentApp-SPA-primary, $RentApp-SPA-accent, $RentApp-SPA-warn);
$RentApp-SPA-dark-theme: mat-dark-theme($RentApp-SPA-primary, $RentApp-SPA-accent, $RentApp-SPA-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
.default-theme {
    @include angular-material-theme($RentApp-SPA-theme);
    @include global-theme($RentApp-SPA-theme);
}

.dark-theme {
    @include angular-material-theme($RentApp-SPA-dark-theme);
    @include global-theme($RentApp-SPA-dark-theme);
}